#-----------------------------#
# [EN] Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#-----------------------------#

set mysql_connection_string "server=127.0.0.1;database=v22;userid=root;"
set mysql_slow_query_warning 100
set mysql_debug "false"
set mysql_transaction_isolation_level 2

setr txEnableMenuBeta true

#-----------------------------#
add_ace resource.console command allow
sv_scriptHookAllowed 0
sets tags "custom cars, police, ems, admin, drugs, hiring, sales, jobs, serious, roleplay, rp, custom, scripts, scripts, custom framework, tuner, tuner chips, fivem, pink cage, streamer friendly, active development, allowlisted, racing"
setr voice_use3dAudio false
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true
set sv_enforceGameBuild 2372
#-----------------------------#

sets locale "nl-NL" 
sets Discord https://discord.gg/fayzie

sets banner_detail "https://i.imgur.com/tXRpjGx.png"
sets banner_connecting "https://i.imgur.com/bGYecqx.png"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "Faye Dev Server"
sets sv_projectName "Faye Dev Server"
sets sv_projectDesc "Faye Dev Server"

# Nested configs!
ensure apx
exec resources.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon "logo.png"

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace group.admin nns_weather.commands.weather allow # /Weather
add_ace group.admin nns_weather.commands.time allow # /time

add_principal identifier.steam:110000140f34462 group.admin
add_principal identifier.steam:110000110f73e0c group.admin
add_principal identifier.steam:11000013567199b group.admin
add_ace group.admin demmycam allow

# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 2

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey CADB408C0655F276991EAA3E32EC1E02

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ""

sv_lan 1
