/* you a bitch */
/* Wwarp */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
    src: url('gta-ui.ttf');
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
    src: url('pdown.ttf');
}

.container{
  font-weight:0;
  font-size:17px;
  
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  letter-spacing:1px;
  color:#E6E6E5;
  width: 100%;
  height: 100%;
  opacity:1;
  font-family:"Roboto","Helvetica","Arial",sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  position: relative;
  z-index: 99;
}

.slide-out{
  animation: slideout 0.5s forwards;
  -webkit-animation: slideout 0.5s forward
}

.money-container {
    position: absolute;
    right: 5vw;
    top: 7vh;
}

#cash {
    color: white;
}

.money-cash,.money-bank {
    display: none;
    float:right;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

.money-cash {
    color: rgb(210, 210, 210);
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
}

.money-bank {
    color: rgb(167, 167, 167);
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    top: 55px;
}

#plus-changeamount {
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    color: #f0f0f0;
}

#minus-changeamount {
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    color: #f0f0f0;
}

.minus {
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    color: #801e1f;
}

.munnie {
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    color: #277418;
}

.moneyupdate {
    float: right;
    padding-left: 0.5vw;
}

.plus {
    text-shadow: -1px -1px 0 rgb(99, 99, 99), 1px -1px 0 rgb(99, 99, 99), -1px 1px 0 rgb(99, 99, 99), 1px 1px 0 rgb(99, 99, 99);
    text-align: right;
    color: #277418;
}

.ui-container {
    display: none;
    font-size: 10vh;
    overflow: hidden;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .1vh;
}

.ui-car-container {
    display: none;
}

.ui-car-time {
    display: block !important;
    position: absolute;
    font-size: 1.5vh;
    bottom: 4.5vw;
    left: 17vw;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgb(99, 99, 99)000;
}

.ui-car-meters {
    display: block !important;
    position: absolute;
    font-size: 1.5vh;
    bottom: 4.5vw;
    left: 20.5vw;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgb(99, 99, 99)000;
}

.car-info {
    position: relative;
    float: left;
}

.ui-car-otherinfo {
    display: none;
  position: absolute;
  left: 21%;
  bottom: 4.5%;
  display: flex;
}

.info-label {
    position: relative;
    top: -.35vh;
    font-size: 1vh;
    text-shadow: 1px 1px 0px rgb(99, 99, 99)000;
    
}

.ui-car-street {
    font-size: 15px;
    position: absolute;
    bottom: 0.28vh;
    left: 23.5vw;
    text-shadow: 1px 1px 0px rgb(99, 99, 99)000;
    color: #ffffff;
}

.car-engine-info img {
    width: 3vh;
}

/*.car-seatbelt-info img {
    width: 3vh;
}*/

.seatbelt-text {
    font-size: 1.45vh;
    color: #46ad34;
    text-shadow: 1px 1px 0px rgb(99, 99, 99)000;
}

/* NEW UI */

.ui-bars-container {
    display: flex;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

/* Container Styling */

.hp-circle {
    position: absolute;
    top: 22.5vh;
    left: -2vh;
}

.armor-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 3vh;
}

.food-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 8vh;
}

.thirst-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 13vh;
}

.stress-circle {
    position: absolute;
    top: 22.5vh;
    margin-left: 18vh;
}

.fuel-circle {
    position: absolute;
    top: -6.5vh;
    left: 10vh;
}

.voice-block {
    display: inline-block;
    border-radius: 50%;
    height: .7vh;
    width: .7vh;
    background-color: rgb(255, 255, 255, 0.5);
}

[data-voicetype="3"] {
    position: absolute;
    top: 2.4vh;
    left: .2vh;
}

[data-voicetype="2"] {
    position: absolute;
    top: 2vh;
    left: 1.35vh;
}

[data-voicetype="1"] {
    position: absolute;
    top: 2.4vh;
    left: 2.5vh;
}


.progress {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  

  .backgroundCircle {
    
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .progressplayer {
    -webkit-transition: 1.25s stroke-dashoffset;
    -o-transition: 1.25s stroke-dashoffset;
    transition: 1.25s stroke-dashoffset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .fundo {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  .progressmic {
    -webkit-transition: 1.25s stroke-dashoffset;
    -o-transition: 1.25s stroke-dashoffset;
    transition: 1.25s stroke-dashoffset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .circle-icon {
      font-size: 1.5vh;
      color: white;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #BF360C;
	}
	50% {
		box-shadow: 0 0 0 5px #bf360cb9;
	}
	100% {
		box-shadow: 0 0 0 0 #bf360c85;
	}

    
}

.car-belt {
    position: absolute;
    top: -10vh;
    left: 4.8vh;
   /* border: 3px solid #BF360C;*/
    border-radius: 50%;
    width: 3.0vh;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    height: 3.0vh;
    /*animation: pulse 2s infinite;*/
}

.car-belt i {
    color: rgb(136, 136, 136);
    padding: .9vh;
    font-size: 1.2vh;
   }
   

   .car-speedo {
    left: 6vh;
    top: -2.5vh;
    position: absolute;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    border-right: 3px solid transparent;
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 32px;
    transform: rotate(345deg);
   }

   .speed-type {
    font-size: 14px;
   }
   
   
   .car-speedcounter {
    position: absolute;
    top: -1vh;
    left: 8vh;
    width: 5vh;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
   }

/*-----------------------------------------------------------------*/

.backgroundCircle2 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .mph {
    color: rgba(255, 255, 255, 0.8);
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    left: -10%;
  }
  
  .fuel {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 45% 45%;
    opacity: 1;
  }
  
  .counter {
    height: 100%;
    width: 100%;
  }
  
  .counter .counter2 {
    position: relative;
    height: 200%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .counter .counter2 div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  .counter .counter2 div svg {
    opacity: 0.2;
  }
  .counter .counter2 .active svg {
    opacity: 0.8;
  }
  
  .counter .counter2 .speedometer {
    width: 100px;
    height: 100px;
    text-align: center;
    text-transform: uppercase; 
  }
  .counter .counter2 .speedometer svg {
    opacity: 1;
    position: absolute;
    left: 0%;
    top: 50%;
    -webkit-transform: scale(2) translate(-25%, -25%);
    -ms-transform: scale(2) translate(-25%, -25%);
    transform: scale(2) translate(-25%, -25%);
  }
  
  .counter .counter2 .speedometer .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    text-shadow: -0.09vh -0.09vh 0 rgb(99, 99, 99), 0.09vh -0.09vh 0 rgb(99, 99, 99), -0.09vh 0.09vh 0 rgb(99, 99, 99), 0.09vh 0.09vh 0 rgb(99, 99, 99);
  }
  .counter .counter2 .speedometer .text .speed {
    color: white;
    font-size: 20px;
    display: block;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    text-shadow: -0.09vh -0.09vh 0 rgb(99, 99, 99), 0.09vh -0.09vh 0 rgb(99, 99, 99), -0.09vh 0.09vh 0 rgb(99, 99, 99), 0.09vh 0.09vh 0 rgb(99, 99, 99);
  }
  
  .addon {
    display: flex;
    position: absolute;
    top: 45%;
    left: -35%;
  }
  
  .car-seatbelt-info img {
    display: flex;
    position: absolute;
    top: 1%;
    width: 3.0vh;
  }
   


.lower {
  margin-top: 53% !important;
}

.timelower {
  padding-bottom: 0px !important;
}

.hide {
  display: none !important;
}

.direction {
  color: #111111;
  background-color: rgba(226, 226, 226, 0);
  width: 200px;
  height: 28px;
  overflow: hidden;
  float: left;
}

.direction>.image {
  height: 100%;
  background-position: center center;
  background-size: 400px;
  background-repeat: repeat-x;
  width: 843.5%;
  z-index: 1;
  background-image: url('https://imgur.com/Hyzivzu.png');
}

.nossymbol{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(207deg) brightness(102%) contrast(104%);
}

.nossymbolon{
    filter: invert(50%) sepia(32%) saturate(7184%) hue-rotate(329deg) brightness(101%) contrast(98%);
}

.filter-white{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(207deg) brightness(102%) contrast(104%);
}


/* Ayar Hudu Alt Taraf */
@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	background: #ecf0f100;
	/* color: #444; */
	font-family: "Lato", Tahoma, Geneva, sans-serif;
	font-size: 16px;
	/* padding: 10px; */
	padding: 0;
	margin: 0;
}
.set-size {
	font-size: 3em;
	position: fixed;
	bottom: -1px;
	/* padding-left: 1%; */
	margin-left: -7px;
}
.set-size2 {
	font-size: 3em;
	width: 1%;
	position: fixed;
	bottom: 5%;
}
.charts-container:after {
	clear: both;
	content: "";
	display: table;
}
.pie-wrapper {
	transition: 900ms display;
	height: 1em;
	width: 1em;
	float: left;
	margin: 3px;
	position: relative;
	display: none;
	left: 1vh;
}
/* .pie-wrapper:nth-child(3n + 1) {
	 clear: both;
} */
.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: 0.45em;
	padding-bottom: 20px;
	vertical-align: super;
}
.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	/* clip: rect(0, 1em, 1em, 0.5em); */
	left: 0;
	position: absolute;
	top: 0;
}

.pie-wrapper .pie .half-circle {
	/* height: 95%;
	width: 95%; */
	height: 94%;
	width: 94%;
	border: 0.135em solid #3498db;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	left: 0;
	position: absolute;
	top: 0;
	transition: 900ms transform;
}

.pie-wrapper .label {
	background: #1a1d22;
	border-radius: 50%;
	bottom: 0.69em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 0.26em;
	left: 0.441em;
	line-height: 2.8em;
	position: absolute;
	right: 0.69em;
	text-align: center;
	top: 0.441em;
}
/* Wwarp */
.pie-wrapper .labell {
	background: #1a1d22;
	border-radius: 50%;
	bottom: 0.603em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 0.26em;
	left: 0.441em;
	line-height: 2.8em;
	position: absolute;
	right: 0.603em;
	text-align: center;
	top: 0.441em;
}
/* Wwarp */
.pie-wrapper .icon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.05em;
	top: 0.48em;
	/* display: inline-grid; */
}
/* Wwarp */
.pie-wrapper .iconn {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.04em;
	top: 0.48em;
	/* display: inline-grid; */
}
/* Wwarp */
.pie-wrapper .iconnn {
	position: relative;
	color: white;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.05em;
	top: 0.48em;
	/* display: inline-grid; */
}

.pie-wrapper .iconnnnnnnn {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	left: 0.04em;
	top: 0.48em;
}

.pie-wrapper .canicon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.048em;
	top: 0.48em;
	/* display: inline-grid; */
}

.pie-wrapper .zırhicon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.048em;
	top: 0.48em;
	/* display: inline-grid; */
}

.pie-wrapper .aclıkicon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.048em;
	top: 0.48em;
	/* display: inline-grid; */
}

.pie-wrapper .suicon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.05em;
	top: 0.48em;
	/* display: inline-grid; */
}
/* Wwarp */
.pie-wrapper .stresicon {
	position: relative;
	font-size: 141%;
	padding-bottom: 15%;
	/* padding-right: 4%; */
	left: 0.01em;
	top: 0.48em;
	/* display: inline-grid; */
}
/* Wwarp */
.outlinemini {
  position: fixed;
  bottom: 8.5vh;
  left: 0.13vh;
  width: 28.5000vh;
  text-align: center;
}
.mapborder {
  width: 13.5vw;
  height: 20.5vh;
  border: 3px solid #e2e2e2;
  border-radius: 50%;
  box-shadow: 0px 2px 0px solid #ffffff;
  position: relative;
  top: 2.8vh;
  left: -1vw;
  display: inline-block;
}
/* Wwarp */
.outline {
	position: fixed;
	bottom: 4.7vh;
	left: 6.8vh;
	overflow: hidden;
	width: 15.7%;
	height: 25%;
	text-align: center;
	display: none;
	border: 5px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}
.talkcircle1 {
	position: absolute;
	height: 134%;
	width: 134%;
	bottom: -18.4%;
	right: -18.4%;
	border: 5.5px solid white;
	border-radius: 50%;
	clip: rect(0em, 1em, 0.5em, 0.5em);
	transition: 500ms border;
}

.talkcircle2 {
	position: absolute;
	height: 95%;
	width: 95%;
	bottom: 5%;
	left: 0%;
	border: 5.5px solid white;
	border-radius: 50%;
	clip: rect(0em, 1em, 1em, 0.5em);
	transition: 500ms border;
}
.talkcircle3 {
	position: initial;
	height: 95%;
	width: 95%;
	border: 5.5px solid white;
	border-radius: 50%;
	transition: 500ms border;
}
.othvehicleinfo {
	position: absolute;
	width: 19.1%;
	bottom: 31%;
	color: white;
}
.street-txt {
	position: absolute;
	width: auto;
	bottom: 29%;
	font-size: 109%;
	padding-bottom: 3%;
	color: white;
}
.direction {
	color: #111111;
	background-color: rgba(226, 226, 226, 0);
	width: 80%;
	height: 26px;
	overflow: hidden;
	float: right;
}
.direction > .image {
	height: 100%;
	background-position: center center;
	background-size: 400px;
	background-repeat: repeat;
	width: 800%;
	z-index: 1;
	background-image: url("compass.png");
}
.time {
	font-size: 134%;
	float: left;
}

.can {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(59, 178, 115, 0.3);
	border-radius: 50%;
}

.zırh {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(21, 101, 192, 0.3);
	border-radius: 50%;
}

.aclık {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(254, 123, 18, 0.3);
	border-radius: 50%;
}

.su {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(0, 114, 198, 0.3);
	border-radius: 50%;
}

.stres {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(213, 0, 0, 0.3);
	border-radius: 50%;
}

.nitro {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(228, 63, 90, 0.3);
	border-color: rgba(228, 63, 90, 0.3);
	border-radius: 50%;
}

.oxy {
	position: relative;
	height: 4.19vh;
	width: 4.19vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(144, 164, 174, 0.3);
	border-radius: 50%;
}

.mic {
	position: absolute;
	height: 4.2vh;
	width: 4.2vh;
	top: 0.02vh;
	left: 0.02vh;
	border: 6.4px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
}

/* Ayar Hudu Alt Taraf */
.ayar-menu-ana {
	position: relative;
	display: none;
	align-items: center;
	height: 100%;
	justify-content: center;
	z-index: 9999;
}

.ayar-menu {
	background: #222831;
	width: 90vh;
	padding-left: 13vh;
	padding-right: 13vh;
	padding-top: 13vh;
	padding-bottom: 0;
	
	border-radius: 3px;
	color: #fff;
	position: relative;
	height: 65vh;
	overflow: auto;
	border-left: 19vh solid #30475E;
	z-index: 1;
	left: -9vh;
}

::-webkit-scrollbar {
	display: none;
	visibility: hidden;
	opacity: 0
}

@font-face {
    font-family: pricedown;
    src: url(https://gta-assets.nopixel.net/fonts/pricedown.ttf)
}

@font-face {
    font-family: nfs;
    src: url(https://gta-assets.nopixel.net/fonts/nfs.ttf)
}

.baslik {
	position: relative;
	text-transform: uppercase;
	font-size: 2.2vh;
	font-weight: lighter;
	color: white;
	background: #222831;
	padding-bottom: 7vh;
	padding: 1.3vh;
	top: -30vh;
	height: 5vh;
	left: 10vh;
	width: 19vh;
	text-align: left;
	border-top-left-radius: 3px;
	z-index: 99999999;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}



.baslik2 {
	position: relative;
	font-size: 0.8vh;
	font-weight: lighter;
	color: white;
	padding-bottom: 7vh;
	padding: 1.3vh;
	top: 30vh;
	height: 5vh;
	left: 10vh;
	width: 19vh;
	text-align: left;
	border-top-left-radius: 3px;
	z-index: 99999999;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

.baslik-alt {
	border: 1px solid red;
}

#statustext {
	position: absolute;
	color: white;
	text-align: left;
	left: 2vh;
	top: 1vh;
	font-size: 2.4vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

#blackbartext {
	position: absolute;
	color: white;
	text-align: left;
	left: 1.5vh;
	top: 89vh;
	font-size: 2.4vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

.bolum-basliklar {
  position: absolute;
  color: white;
  text-align: left;
  left: 1.7vh;
  top: 51.3vh;
  font-size: 2.4vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
}

#blackbar-container {
	position: relative;
	top: -5.7vh;
	left: -11.9vh;
	height: 10vh;
	width: 150%;
}

#blackbar-container label {
	font-size: 1.7vh;
	letter-spacing: 0.1vh;
	color: rgba(255, 255, 255, 0.850);
	position: relative;
	margin-left: 0.74vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

#blackbar-container #blackbar-main {
	position: relative;
	width: 100%;
	height: 5.5vh;
	bottom: -2.5vh;
	border-bottom: 1px solid rgba(255, 255, 255, 0.800);
	left: 0.2vh;
}

#blackbar-container #blackbar-main p {
	color: rgba(255, 255, 255, 0.850);
	font-size: 1.6vh;
	position: absolute;
	top: -1.7vh;
	left: 0.3vh;
	font-weight: lighter;
	letter-spacing: 0.1vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

#blackbar-container #blackbar-main input {
	position: relative;
	top: 2.63vh;
	left: 2.5vh;
	width: 6vh;
	height: 2.5vh;
	border: none;
	outline: none;
	background: transparent;
	color: rgba(255, 255, 255, 0.800);
	overflow: hidden;
	font-size: 1.9vh;
}


#vehicle-container {
	position: relative;
	width: 150%;
	height: 15vh;
	left: -11.6vh;
	top: -14vh;
	margin-bottom: 2.6vh;
}

.vehicle-sag-yazi {
	position: relative;
	font-size: 1.7vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: rgba(255, 255, 255, 0.700);
	top: -0.2vh;
}

.vehicle-sag {
	position: relative;
	width: 50%;
	height: 11vh;
	float: right;
	display: block;
	opacity: 1;
}

select {
	position: relative;
	width: 100%;
	color: white;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.678);
	outline: none;
	background: transparent;
	font-size: 1.9vh;
	padding-bottom: 0.3vh;
	top: -1.8vh;
}
select:hover {
	border-bottom: 1px solid white;
}
select option {
	background: #424242;
	border: none;
	outline: none;
}


#speedmeterInfo {
  position: relative;
  color: rgba(255, 255, 255, 0.829);
  font-size: 1.64vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  top: -1.8vh;
}

#compassInfo {
	position: relative;
	color: rgba(255, 255, 255, 0.829);
	font-size: 1.64vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	top: -1.5vh;
}

.satir-baslik {
	position: relative;
	/* font-weight: 100; */
	width: 20vh;
	font-size: 20px;
	/* left: vh; */
	bottom: 6vh;
	padding: 1vh;
	user-select: none;
}

.bolumleraq {
	position: relative;
	width: 149%;
	height: 6.6vh;
	left: -11.6vh;
	top: -7vh;
	margin-bottom: 2.6vh;
} 

.others_container {
	position: relative;
	width: 30%;
	height: 6.6vh;
	left: -11.6vh;
	top: -7vh;
	margin-bottom: 2.6vh;
} 

.others_container2 {
	position: relative;
	width: 50%;
	height: 6.6vh;
	left: -11.6vh;
	top: -7vh;
	margin-bottom: 2.6vh;
} 
.others_container3 {
	position: relative;
	width: 60%;
	height: 6.6vh;
	left: -11.6vh;
	top: -7vh;
	margin-bottom: 2.6vh;
} 
#harnessDur {
	top: 11vh;
	left: -2vh;
}
label[for="harnessDur"] div {
	left: 2.7vh;
	top: 6.9vh;
}

#nitrolevel {
	top: 16vh;
	left: 0.5vh;
}
label[for="nitrolevel"] div {
	left: 2.7vh;
	top: 10.9vh;
}

#nitroTrail {
	top: 11vh;
	left: 33vh;
}
label[for="nitroTrail"] div {
	left: 18.2vh;
	top: 10.9vh;
}

.bolumyazi {
	position: relative;
	float: left;
	margin-left: 1vh;
	margin-top: 2vh;
	color: rgba(255, 255, 255, 0.850);
	font-size: 1.6vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}



#wallpaper-container {
	position: relative;
	width: 150%;
	height: 10vh;
	left: -11.6vh;
	top: -11vh;
	margin-bottom: 2.6vh;
}

/* Wwarp */
#compassinputBolum {
	position: absolute;
	width: 49%;
	height: 10vh;
}
/* Wwarp */
#compassinput-yazi {
	position: absolute;
	color: rgba(255, 255, 255, 0.801);
	font-size: 1.5vh;
	left: 0.3vh;
	top: 5vh;
}
/* Wwarp */
#compassTime {
	top: 11vh;
	left: 0.3vh;
}
label[for="compassTime"] div {
	left: 0.4vh;
	top: 11.1vh;
}

#compassStreet {
	top: 19vh;
	left: -1.7vh;
}

label[for="compassStreet"] div {
	left: -29.5vh;
	top: 18.8vh;
}

#compassStreet-yazi {
	position: absolute;
	left: 0.53vh;
	top: 24.4vh;
	color: rgba(255, 255, 255, 0.856);
	font-size: 1.63vh;
}

input[type="checkbox"] {
	position: relative;
	width: 2vh;
	height: 2vh;
	float: left;
	margin-top: 1.9vh;
}
/* Wwarp */
input[type="checkbox"] {
	color: #363839;
	border: 1px solid #bdc1c6;
	border-radius: 2px;
	appearance: none;
	outline: 0;
	cursor: pointer;
	transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]::before {
	position: absolute;
	content: '';
	display: block;
	top: -0.1vh;
	left: 0.5vh;
	width: 0.8vh;
	height: 1.5vh;
	border-style: solid;
	border-color: black;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
input[type="checkbox"]:checked {
	color: #fff;
	border-color: #F2A365;
	background: #F2A365;
}
input[type="checkbox"]:checked::before {
	opacity: 1;
}

input[type="number"] {
	margin:0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bolumsag {
	position: relative;
	height: 100%;
	width: 45vh;
	float: right;
	border-bottom: 1px solid rgba(255, 255, 255, 0.900);
	display: block;
}

.bolumsag-yazi {
	position: relative;
	top: -1.3vh;
	color: rgba(255, 255, 255, 0.781);
	font-size: 1.3vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}
.bolumsag-yazi-yuzde {
	position: absolute;
	top: 1.8vh;
	color: rgba(255, 255, 255, 0.781);
	font-size: 2.5vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	user-select: none;
}

.deger {
	overflow: hidden;
	border: none;
	outline: none;
	width: 9vh;
	text-align: left;
	color: rgba(255, 255, 255, 0.800);
	font-size: 2.4vh;
	background-color: #222831;
	left: 3vh;
	bottom: 1.96vh;
	position: relative;
}

.satir-ayar {
	position: relative;
	right: 25vh;
	bottom: 5vh;
}

.close-ayar-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 5vh;
	background: #800;
	color: #fff;
	font-weight: bolder;
	padding:6px 4px;
	line-height: 19px;
	text-align: center;
	font-size: 2vh;
	border-bottom-left-radius: 0.5vh;
	user-select: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


#roninelement{
    transition : .5s linear;
}


#bar1 {
	position: absolute;
	width: 100%;
	height: 10vh;
	background: black;
	top: 0;
	z-index: 9999999999999999999;
	display: none;
	user-select: none;
}
#bar2 {
	position: absolute;
	width: 100%;
	height: 10vh;
	background: black;
	bottom: 0;
	z-index: 9999999999999999999;
	display: none;
	user-select: none;
}

.vehicle {
    width: 100%;
	overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.7);
}

.smalltext {
    text-shadow: rgb(55 71 79) -1px 1px 0px, rgb(55 71 79) 1px 1px 0px, rgb(55 71 79) 1px -1px 0px, rgb(55 71 79) -1px -1px 0px;
    font-size: 11px;
    left: 37.5%;
    bottom: 35%;
    position: absolute;
}

.speed {
    left: 13.5vw;
    bottom: 4.9vh;
    position: absolute;
}

.fuell {
    left: 56%;
    bottom: 9%;
    position: absolute;
}

.nos {
    left: 70%;
    bottom: 9%;
    position: absolute;
    display: none;
}

.full-screen {
    display: none;
}

.speedamount {
    font-size: 17.5px;
    text-shadow: rgb(55 71 79) -1px 1px 0px, rgb(55 71 79) 1px 1px 0px, rgb(55 71 79) 1px -1px 0px, rgb(55 71 79) -1px -1px 0px;
    position: absolute;
    z-index: 999999;
    right: 0;
    left: 0;
    height: 60%;
    bottom: -7px;
    text-align: center;
}

.atlamount {
    margin-left: 25px;
}

.harness,
.belt {
    display: none;
    position: absolute;
    left: 55px;
    bottom: 30px;
    font-size: 18px;
    color: #D54323;
}

.gas,
.nos-image {
    position: absolute;
    left: 18px;
    bottom: 18px;
}

.nos {
    margin-left: 25px;
}

.engine {
    margin-left: 25px;
    margin-top: -5px;
}

.red {
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

.green {
    color: green;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

.blue {
    color: rgb(102, 143, 255);
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-shadow: 1px 1px black;
}

.yellow {
    color: yellow;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-shadow: 1px 1px black;
}

@media(min-width:2100px) {
    .stat,
    .stat .icon {
        height: 44px;
    }
}

@media(min-width:2200px) {
    .stat,
    .stat .icon {
        height: 46px;
    }
    .status {
        width: 280px;
    }
    .stat {
        width: 251px;
    }
    .stat span {
        font-size: 14px;
        line-height: 15px;
        margin-top: 2px;
    }
}

@media(min-width:2300px) {
    .stat,
    .stat .icon {
        height: 48px;
    }
}

@media(min-width:2400px) {
    .stat,
    .stat .icon {
        height: 50px;
    }
    .status {
        width: 300px;
    }
    .stat {
        width: 271px;
    }
}

@media(min-width:2500px) {
    .stat,
    .stat .icon {
        height: 52px;
    }
}

@media(max-width:1800px) {
    .stat,
    .stat .icon {
        height: 38px;
    }
}

@media(max-width:1700px) {
    .stat,
    .stat .icon {
        height: 36px;
    }
}

@media(max-width:1600px) {
    .stat,
    .stat .icon {
        height: 34px;
    }
    .status {
        width: 240px;
    }
    .stat {
        width: 211px;
    }
    .stat span {
        font-size: 12px;
        line-height: 12px;
        margin-top: 2px;
    }
    .stat .icon img {
        margin-top: 2px;
    }
}

@media(max-width:1500px) {
    .stat,
    .stat .icon {
        height: 32px;
    }
}
/* Wwarp */
@media(max-width:1400px) {
    .stat,
    .stat .icon {
        height: 30px;
    }
    .status {
        width: 225px;
    }
    .stat {
        width: 196px;
        margin-bottom: 4px;
    }
}
/* Wwarp */
@media(max-width:1300px) {
    .stat,
    .stat .icon {
        height: 28px;
    }
}
/* Wwarp */
@media(max-width:1200px) {
    .stat,
    .stat .icon {
        height: 26px;
    }
    .stat span {
        font-size: 10px;
        line-height: 10px;
    }
    .status {
        width: 200px;
    }
    .stat {
        width: 171px;
    }
}
/* Wwarp */
@media(max-width:1100px) {
    .stat,
    .stat .icon {
        height: 24px;
    }
}

.progress {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(125deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.progress-fuel,
.progress-nos {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    -webkit-transform: rotate(156deg);
    -ms-transform: rotate(156deg);
    transform: rotate(156deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.backgroundCircle {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(165deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.backgroundfuel,
.backgroundnos {
    -webkit-transition: 0.35s stroke-dashoffset;
    -o-transition: 0.35s stroke-dashoffset;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(188deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.kolko {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 45% 45%;
}

.kolko span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.kolko svg {
    opacity: 1 !important;
}

.kolko span {
    opacity: 0;
}

.kolko span:after {
    position: relative;
    content: '%';
    font-size: 7px;
}

.kolko g {
    -webkit-transform: translate(16px, 13px);
    -ms-transform: translate(16px, 13px);
    transform: translate(16px, 13px);
}

.licznik {
    height: 100%;
    width: 100%;
}

.licznik .licznik2 {
    position: relative;
    height: 200%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.licznik .licznik2 div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.licznik .licznik2 div svg {
    opacity: .2;
}

.licznik .licznik2 .active svg {
    opacity: .8;
}

.licznik .licznik2 .speedometer {
    width: 150px;
    height: 150px;
    text-align: center;
    -webkit-clip-path: polygon(100% 45%, 80% 45%, 60% 100%, 0% 100%, 0% 0%, 100% 0%);
    clip-path: polygon(100% 45%, 80% 45%, 60% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.licznik .licznik2 .speedometer svg {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: scale(2) translate(-25%, -25%);
    -ms-transform: scale(2) translate(-25%, -25%);
    transform: scale(2) translate(-25%, -25%);
}

.licznik .licznik2 .speedometer .outer {
    opacity: .3;
    -webkit-transform: rotate(180deg) scale(1.2);
    -ms-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
}

.licznik .licznik2 .speedometer .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
}

.licznik .licznik2 .speedometer .text .speed {
    color: white;
    font-size: 27px;
    display: block;
}

.licznik .licznik2 .speedometer .text .kmh {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    display: block;
    text-transform: uppercase;
}

.hide {
    display: none !important;
}

.fa-microphone {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 33px; 
    top: 18px;
}

.fa-headset {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 18px;
}

.fa-heart {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 18px;
}

.fa-heart2 {
    color: yellow;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 18px;
}

.fa-shield-alt {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 37px; 
    top: 19px;
}

.fa-hamburger {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 37px; 
    top: 18px;
}

.fa-tint {
    color: white;
    position: relative;
    font-size: 18px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 18px;
}

.fa-brain {
    color: white;
    position: relative;
    font-size: 17px;
    height: 0px; 
    width: 0px;
    right: 38px; 
    top: 19px;
}

.fa-user-slash {
    color: white;
    position: relative;
    font-size: 17px;
    height: 0px; 
    width: 0px;
    right: 38px; 
    top: 19px;
}

.fa-tachometer-alt {
    color: white;
    position: relative;
    font-size: 17px;
    height: 0px; 
    width: 0px;
    right: 36.5px; 
    top: 17px;
}

.fa-location-arrow {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 19px;
}

.fa-microchip {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 35px; 
    top: 19px;
}

.fa-stream {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}

.fa-dollar-sign {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 32px; 
    top: 19px;
}

.fa-exclamation {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 30px; 
    top: 19px;
}

.fa-wind {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}

.fa-lightbulb {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 32px; 
    top: 19px;
}

.fa-swimmer {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 19px;
}

.fa-dumbbell {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 19px;
}

.fa-database {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}

.fa-biohazard {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 19px;
}

.fa-burn {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}

.fa-bicycle {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 36px; 
    top: 19px;
}


.fa-running {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}

.fa-pills {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 34px; 
    top: 19px;
}


.fa-meteor {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 35px; 
    top: 19px;
}

.fa-stopwatch-20 {
    color: white;
    position: relative;
    font-size: 16px;
    height: 0px; 
    width: 0px;
    right: 35px; 
    top: 19px;
}

.fa-terminal {
    color: white;
    position: relative;
    font-size: 15px;
    height: 0px; 
    width: 0px;
    right: 42px; 
    top: 19px;
}

.fa-bug {
    color: white;
    position: relative;
    font-size: 15px;
    height: 0px; 
    width: 0px;
    right: 34.5px; 
    top: 18px;
}

.hud-btn{
    padding: 10px;
    color: white;
    cursor: pointer;
}
.active, .hud-btn:hover {
    background: #212731;
}

.userinput {
    position: absolute;
    width: 90%;
    height: 30%;
    left: 30%;
    top: 38%;
    border: 0px solid transparent;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 10px;
}
  
.submitbtn{
    border-radius: 2px;
    border: none;
    position: absolute;
    background-color: #95ef77;
    bottom: -5px;
    left: 5px;
    padding: 3px;
    height: 35px;
}

/* Waves */

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

 .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
  }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color:  rgb(117, 117, 117)
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 79, 0.863)
  }
  
  .waves-effect.waves-blue .waves-ripple {
    background-color: #596e80;
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7)
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7)
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7)
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7)
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7)
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7)
  }
  
  .waves-effect input[type="button"],
  .waves-effect input[type="reset"],
  .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none
  }
  
  .waves-effect img {
    position: relative;
    z-index: -1
  }
  
  .waves-notransition {
    -webkit-transition: none !important;
    transition: none !important
  }
  
  .waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%)
  }
  
  .waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom
  }
  
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
  }
  
  .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none
  }
  
  .waves-block {
    display: block
  }
  
  .waves-effect .waves-ripple {
    z-index: -1
  }